$SpergGreen: #00b358;
$SpergGreenLight: #29b870;
$SpergGreenBright: #4ec689;
$SpergGreenDark: #008b44;
$SpergGreenDeep: #006d36;

$SpergAzure: #0969a3;
$SpergAzureLight: #2d7ba9;
$SpergAzureBright: #4f92ba;
$SpergAzureDark: #07527e;
$SpergAzureDeep: #044063;

$SpergOrange: #ff8c00;
$SpergOrangeLight: #ffa639;
$SpergOrangeBright: #ffb964;
$SpergOrangeDark: #c66d00;
$SpergOrangeDeep: #9b5600;